.build-page {
  background: url('./../../images/pokedex.png');
}
.build-page__heading {
  width:40%;

  font-size:2.2rem;
  font-weight:600;
  text-align: center;
  text-align: center;
  
  padding:.5rem;
  margin:2rem auto 5rem auto;
  border-radius:20px;

  color:#000;
  background: linear-gradient(to right,lightgrey,white,lightgrey);
}

.build-page__poke-team {
  padding:3rem 0;
}

.build-page__poke-search {
  padding: 3rem;
  border-top:5px solid #000;
}

.poke-search__wrapper {
  border-radius:50px;
  padding:3rem;
  border:4px solid #000;
  background-image: linear-gradient(to right, lightgrey, white, lightgrey);
}

@media (max-width:1100px) {
  .build-page__poke-search {
    padding: 2rem 1rem;
  }

  .poke-search__wrapper {
    padding:2rem;  
  }
}

@media(max-width:750px) {
  .build-page__poke-search {
    padding:0;
  }

  .poke-search__wrapper {
    border-radius: 0;
    border:none;  
  }

  .build-page__heading {
    width:75%;
    font-size:1.8rem;
    padding:.8rem 0;
    margin-top:0;
  }
}

@media(max-width:550px) {
  .build-page__heading {
    font-size:1.5rem;
    margin-bottom:3rem;
  }

  .poke-search__wrapper {
    padding:2rem 1rem;  
  }
}

@media(max-width:400px) {
  .poke-search__wrapper {
    padding:2rem .5rem;  
  }
}
