.build-page {
  background: url('./../../images/pokedex.png');
}
.build-page__heading {
  text-align: center;
  
  font-size:2.2rem;
  text-align: center;
  color:black;
  font-weight:600;
  width:60%;
  padding:.5rem;
  margin:0 auto 5rem auto;
  border-radius:20px;
  margin-top:2rem;
  background: linear-gradient(to right,lightgrey,white,lightgrey);
}

.build-page__poke-team {
  padding:3rem 0;
}

.build-page__poke-search {
  padding: 3rem;
  border-top:5px solid black;
}

.poke-search__wrapper {
  border:4px solid black; 
  border-radius:50px;
  padding:3rem;
  background: rgba(0,0,0,.2);
  background-image: linear-gradient(to right, lightgrey, white, lightgrey);
}

@media (max-width:1100px) {
  .build-page__poke-search {
    padding: 2rem 1rem;
  }

  .poke-search__wrapper {
    padding:2rem;  
  }
}

@media(max-width:750px) {
  .build-page__poke-search {
    padding:0;
  }

  .poke-search__wrapper {
    border-radius: 0;
    border:none;  
  }

  .build-page__heading {
    padding:.8rem 0;
    font-size:1.8rem;
    width:75%;
    margin-top:0;
  }
}

@media(max-width:550px) {
  .build-page__heading {
    font-size:1.5rem;
    margin-bottom:3rem;
  }

  .poke-search__wrapper {
    padding:2rem 1rem;  
  }
}
