.build-page__heading {
  text-align: center;
  font-size:3rem;
  /* background-image: linear-gradient(to right, grey, white, grey); */
  text-align: center;
  color:black;
  font-weight:400;
  width:50%;
  margin:0 auto 3rem auto;
  border-radius:20px;
  margin-top:3rem;
  background: linear-gradient(to right,lightgrey,white,lightgrey);
}

.build-page__poke-team {
  padding:3rem 0;
  background-size:cover;
  background:url('./../../images/pokedex.png');
  /* background-size:cover; */
}

.poke-search {
  padding: 3rem;
  border:1px solid black;
  background: url('./../../images/pokedex.png');
}

.poke-search__wrapper {
  border:4px solid black; 
  border-radius:50px;
  padding:3rem;
  background: rgba(0,0,0,.2);
  background-image: linear-gradient(to right, lightgrey, white, lightgrey);
}