.header {
  min-height:40vh;
  padding:2rem 0;
  width:100%;
  color:black;
  background:linear-gradient(to top right, 
    rgba(128,128,128,1),
    rgba(211,211,211,1), 
    rgba(255,255,255,1), 
    rgba(211,211,211,1), 
    rgba(128,128,128,1)
  );
}

.header-login-box {
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.0)),url('../../images/login6.png');
  background-size:100% 100%;
}

.header-fixed {
  color:white;
  background:none;
  padding:0;
}

.poke-banner {
  display:flex;
  justify-content: center;
  align-items: center;

}
.poke-banner--login {
  padding-top:2rem;
}

.poke-banner__item:not(:last-child) {
  margin-right:1rem;
}

.poke-banner__img {
  transform: scale(1.2);
}

.header__heading {
  letter-spacing: 3px;
  font-family: 'Voces', cursive;
  font-size:4rem;
  margin:0 0 2rem 0;
  text-align: center;  
}

.header__heading--login {
  width:100%;
  transform: translateY(50%);
  border-radius:20px;
  margin: 0;
}

.header__banner {
  width:5rem;
  margin-right:3rem;
}

@media(max-width:1400px) {
  .header-login-box {
    background-size:cover;
  }
}

@media(max-width:1100px) {
  .header__heading {
    letter-spacing: 3px;
    font-size:3rem;
  }
}
