.header {
  min-height:40vh;
  padding:2rem 0;
  width:100%;
  color:black;
  background:linear-gradient(to top right, 
    rgba(128,128,128,1),
    rgba(211,211,211,1), 
    rgba(255,255,255,1), 
    rgba(211,211,211,1), 
    rgba(128,128,128,1)
  );

  display:grid;
  justify-items: center;
}

.header-login-box {
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.0)),url('../../images/login6.png');
  background-size:100% 100%;
  background-position: 20% center;
}

.header--login {
  color:white;
  background:none;
  padding:0;
}

.poke-banner {
  display:flex;
  align-items: center;
}
.poke-banner--login {
  padding-top:2rem;
}

.poke-banner__item:not(:last-child) {
  margin-right:1rem;
}

.poke-banner__img {
  transform: scale(1.2);
}

.header__heading {
  letter-spacing: 3px;
  font-family: 'Voces', cursive;
  font-size:4rem;
  margin:0 0 2rem 0;
  text-align: center;  
}

.header__heading--login {
  width:100%;
  align-self: center;
  border-radius:20px;
  margin: 0;
}

.header__banner {
  width:5rem;
  margin-right:3rem;
}

@media(max-width:1400px) {
  .header-login-box {
    background-size:cover;
  }
}

@media(max-width:1100px) {
  .header__heading {
    letter-spacing: 3px;
    font-size:3rem;
  }
}

@media(max-width:750px) {
  .poke-banner--login {
    display:none;
  }

  .poke-banner__item:nth-last-of-type(odd) {
    display:none;
  }

  .poke-banner {
    padding:0 2rem;
  }

  .poke-banner__img {
    transform: scale(1.3);
  }

  .header__heading {
    width:90%;
    line-height:1.2;
  }
}

@media(max-width:500px) {
  .header__heading {
    letter-spacing: 3px;
    font-size:2.5rem;
  }
}