.login {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login__buttons {
  margin-top: 7%;
}

.login__buttons{
  display: flex;
  justify-content: center;
  width: 30%;
}

.login__button {
  width: 50%;
  padding: 1rem;
}

.login__button:not(:last-child) {
  margin-right: 1rem;
}

@media(max-width: 1750px) {
  .login__buttons{
    width: 40%;
  }
}

@media(max-width: 1400px) {
  .login__buttons{
    width: 50%;
  }
}

@media(max-width: 1100px) {
  .login__buttons{
    width: 62%;
  }
}

@media(max-width: 900px) {
  .login__buttons{
    width: 75%;
  }
}

@media(max-width: 750px) {
  .login__buttons{
    flex-direction: column;
    width: 60%;
    align-items: center;
  }

  .login__button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .login__button {
    width: 100%;
  }
}

@media(max-width: 400px) {
  .login__buttons{
    width: 80%;
  }
}
