.modal__background{
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,.5);
	position:fixed;
	left:0;
  top:0;	
  display:flex;
  z-index:1000;
}

.modal__body{
	background-color:white;
	padding:3rem 4rem;
  margin:auto;
  border-radius:20px;
  background-image: linear-gradient(to right, #96D9D6, #fff, #96D9D6);
  line-height:1.6;
  border:5px solid black;
  width:35%;
  
}

.modal__img-box {
  width:30%;
  margin: 0 auto;
}

.modal__img {
   width:100%;
   height:auto;
   object-fit:cover; 
   display:block;
   transform:scale(1.6);
 }

.modal__name {
  margin:1rem;
  text-align: center;
}

.modal__name::first-letter {
  text-transform: uppercase;
}

.modal__types {
  display:flex;
  align-items: center;
  margin-bottom:.4rem;
}

.modal__abilities {
  display:grid;
  grid-template-columns: min-content 1fr;
  justify-items: center;
}

.modal__abilities-list {
  width:100%;
  margin-left:1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-column-gap:1rem;
}

.modal__stat-name {
  margin-right:.2rem;
  font-weight:600;
}

 .modal__buttons {
  display:flex;
  width:100%;
  justify-content: center;
  margin-top:1rem;
 }

 .modal__btn {
   width:50%;
   padding:.2rem 0;
 }

 .modal__btn:not(:last-child) {
   margin-right:3%;
 }

 @media(max-width:1700px) {
   .modal__body {
     width: 45%;
   }
 }

 @media(max-width:1400px) {
  .modal__body {
    width: 55%;
  }
}

@media(max-width:1100px) {
  .modal__body {
    width: 65%;
  }
}

@media(max-width:900px) {
  .modal__body {
    width: 75%;
    padding:3rem;
  }
}

@media(max-width:750px) {
  .modal__body {
    width: 90%;
    padding:3rem;
  }
}

@media(max-width:550px) {
  .modal__body {
    width: 100%;
    height:100%;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border-radius:0;
    border:none;
  }

  .modal__btn {
    width:50%;
    padding:.5rem 0;
  }

  .modal__img-box {
    width:30%;
    margin: 0 auto;
  }

  .modal__abilities-list {
    margin-left:.5rem;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:.5rem;
  }

  .modal__abilities {
    margin:1rem 0;
    grid-template-columns: 1fr;
  }
}

@media (max-width:350px) {

  .modal__body {
    padding: .6rem;
  }
  
   .modal__img-box {
    width:20%;
  }

  .modal__img {
    transform: scale(2);
  }

  .modal__name {
    margin:1rem 0 .5rem 0;
  }

  .modal__abilities {
    margin:.5rem 0;
  }

  .modal__buttons {
    margin-top:0;
    padding:.3rem .5rem;
   }
}