.poke-team__list {
  padding:0 2%;
  display:grid;

  grid-template-columns: repeat(6, 15%);
  grid-gap:1rem;
  padding: 0 1rem;
  text-align: center;
  
}

@media(max-width:1700px) {
  .poke-team__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width:900px) {
  .poke-team__list { 
    /* margin-bottom:2rem; */
  }
}

@media (max-width:650px) {
  .poke-team__list {
    padding: 0 .5rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:400px) {
  .poke-team__list {
    grid-template-columns: 1fr;
  }
}