.poke-card__img-box {
  transform: scale(1.2);
}

.poke-card__item {
  padding:1rem;
  border:6px solid #B7B7CE;
  border-radius:10px;
  width:100%;
  cursor:pointer;
  background-image: linear-gradient(to right, #96D9D6, #fff, #96D9D6);
  transition: transform .2s;
}



.poke-card__item:hover {
  border:3px solid red;
  transform: scale(1.1);
}

.poke-card__name {
  margin-bottom:0; 
}

.poke-card__name::first-letter {
  text-transform: uppercase;
}