.poke-team__list {
  padding:0 2%;
  display:grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  justify-content: center;
  grid-template-columns: repeat(6, 15%);
  grid-gap: 2%;
  padding: 0 1rem;
  text-align: center;
  align-items: center;
}