.team-cell {
  border:1px solid black;
  border-radius:20px;
  background-image: linear-gradient(to right, #96D9D6, #fff, #96D9D6);
  padding:3rem;
  display:grid;
  justify-items: center;
  align-items:end;
  word-break: break-all;  
}

.team-cell__heading {
  margin-bottom: .2rem;
}

.team-cell__img-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap:1rem;
  grid-column-gap: 1.5rem;
  width:70%;
}

.team-cell__img-item {
  border-radius:50%;
}

.team-cell__img {
  transform: scale(1.1);
}

.team-cell__createdAt {
  margin:0;
}

.team-cell__buttons {
  margin-top:2rem;
  display:flex;
  justify-content: center;
  width:50%;
}

.team-cell__description {
  word-wrap: break-all;
  margin-bottom:0;
}

.team-cell__button {
  width:40%;
}

.team-cell__button:first-child{
  text-decoration: none;
  color: black;
  margin-right:.5rem;
}

@media(max-width: 1700px) {
  .team-cell__img-list {
    width:80%;
  }

  .team-cell__img {
    transform: scale(1.3);
  }
}

@media(max-width: 1400px) {
  .team-cell {
    padding:2rem; 
  }

  .team-cell__buttons {
    width:80%;
  }
}

@media(max-width:1100px) {
  .team-cell__img-list {
    width:70%;
    grid-gap:3rem;
  }

  .team-cell__img {
    transform: scale(1.5);
  }
}