.save-form {
  width: 50%;
}
.save-form__message {
  font-size: 1rem;
}

.save-form__name {
  padding: .5rem;
  margin-bottom: .3rem;
}

.save-form__description { 
  padding:1rem;  
  border:none;
}

.save-form__input {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: .5rem 1rem;
}

.save-form__input:focus  {
  border:2px dashed grey;
  background: #FFFAF0;
}

.save-form__buttons {
  display:flex;
  margin-top:1rem;
}

.save-form__button {
  width:50%;
  padding:.3rem 0;
}

.save-form__button:not(:last-child) {
  margin-right:1rem;
}

@media (max-width:1100px) {
  .save-form {
    width:70%;
  }
}

@media(max-width:750px) {
  .save-form {
    width:85%;
  }
}

@media(max-width:550px) {
  .save-form {
    width:100%;
    height:100%;
    border-radius:0;
    border:none;
    display:grid;
    align-content: center;
    padding:1rem;
  }

  .save-form__message {
    text-align: center;
  }
}