.save-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:2rem;
  text-align: center;
}
.save-team__btn { 
  text-transform: uppercase;
  padding:1rem 2rem;
  width:60%;
  margin:0 auto;
}

