.saved-teams {
  border:none;
  padding:3rem;
}

.saved-teams__list {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

@media(max-width:1400px) {
  .saved-teams {
    padding:3rem 1rem;
    grid-gap:1rem;
  }
}

@media(max-width:1100px) {
  .saved-teams__list {
    padding:2rem 1rem;
    grid-template-columns: 1fr;
  }
}