.saved-teams {
  border: none;
  padding: 3rem;
}

.saved-teams__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

@media(max-width: 1400px) {
  .saved-teams {
    padding: 3rem 1rem;
    grid-gap: 1rem;
  }
}

@media(max-width: 1100px) {
  .saved-teams__list {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
  }
}

@media(max-width: 750px) {
  .saved-teams {
    padding: 1rem;
  }
}

@media(max-width: 600px) {
  .saved-teams {
    padding: 1rem 0 0 0;
    margin: 0;
  }

  .saved-teams__list {
    padding: 0;
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
}