.search-bar {
  margin-bottom:3rem;
  text-align: center;
}

.search-bar__form {
  border:1px solid;
  border-radius:20px;
  background: linear-gradient(to right, lightgrey, white, lightgrey);
  display:flex;
  justify-content: center;
  width:75%;
  margin:0 auto;
  padding:1rem 3rem;
}

.search-bar__item {
  height:2.5rem;
  border-radius:20px;
}

.save-form__input:focus  {
  border:2px dashed grey;
  background: #FFFAF0;
}

.search-bar__item:not(:last-child) {
  margin-right:1rem;
}

.search-bar__name:focus, .search-bar__type:focus {
  border:2px solid black;
  background: #FFFAF0;
}

.search-bar__name {
  width:50%;
  padding-left:2rem;
  box-shadow: inset 0 0 2px 2px #888;
}

.search-bar__type {
  text-align: center;
  padding:0 1rem;
  width:30%;
  border:none;
  box-shadow: inset 0 0 2px 2px #888;
}

.search-bar__submit {
  width:20%;
  transition: all .2s;
}

@media (max-width:1400px) {
  .search-bar__form {
    padding:1rem; 
    width:90%; 
  }
}

@media (max-width:1100px) {
  .search-bar__form {
    padding:.7rem;
    width:95%; 
  }
}

@media (max-width:900px) {
  .search-bar__form {
    padding:1rem 2rem;
    width:90%; 

    display:grid;
    grid-auto-columns: 1fr;
    grid-row-gap:.7rem;
    justify-items: center;
  }

  .search-bar__item {
    width:100%;  
  }

  .search-bar__item:not(:last-child) {
    margin:0;
  }

  .search-bar__submit {
    width:60%;
  }
}

@media(max-width:750px) {
  .search-bar__form {
    width:95%;
  }
}

@media(max-width:400px) {
  .search-bar__form {
    width:100%;
    padding:1rem;
  }
}
